body{
    background-color:#8399A6;
    color:#3A515F;
    font-family: "Lucida Console", Courier, monospace;
    font-size:16px;
    line-height:1.6em;
    margin:0;
}


.container{
    width: 1120px;
    margin:auto;
    overflow: hidden;
}

.clr{
    clear:both;
}

#logo{
    float: left;
    max-width: 40%;
}

#navbar a{
    text-decoration: none;
    color: #FFFFFF;
}

#navbar a:active{
    color:#FFFFFF;
}

#navbar a:hover{
    text-decoration: underline;
}

#navbar ul{
    padding:0;
    list-style: none;
    font-size: 24px;
    text-transform: uppercase;
}

#navbar{
    padding-left: 173px;
}

#navbar li{
    display:inline;
    margin-right: 35px;
}

#main-header{
    background-color: #FEC156;
    color: #FFFFFF;
}

#main-header h1{
    text-align: center;
    font-size: 76px;
    padding-top: 3%;
    padding-bottom: 5%;
    line-height: 80%;
}

#about{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%;
    background-color: #FFD376;
    color: #FFFFFF;
    float:left;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
}

#about p{
    color:#3A515F;
}

#aboutLogo{
    float: right;
    margin-top: 50px;
    max-width: 40%;
        
}

#joinPic{
    float: left;
    width: 40%;
    height: 349px;
    object-fit: cover;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
}

#join{
    margin-bottom: 40px;
    max-width: 60%;
    background-color: #FFD376;
    color: #FFFFFF;
    float:right;
    padding: 15px;
    box-sizing: border-box;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
}

#join p{
    color:#3A515F;
}

#join ul{
    color:#3A515F;
}

#meetingDate{
    font-weight: 600;
}

#picnic{
    float: left;
    border-radius: 5px;
    max-width: 31%;
}

#partyP{
    padding-left: 42px;
    max-width: 30%;
}

#cake{
    float:right;
    border-radius: 5px;
    max-width: 32%;
}

#feedback{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%;
    background-color: #FFD376;
    color: #FFFFFF;
    float:left;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
}

#feedback p{
    color:#3A515F;
}

#vP{
    float: right;
    margin-top: 25px;
    max-width:40%;
}

#contacts{
    float: right;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%;
    background-color: #FFD376;
    color: #FFFFFF;
    float:left;
    padding: 15px;
    box-sizing: border-box;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
}

#contacts h1{
    float: left;
    padding-left: 40px;
}

#insta{
    color:#3A515F;
    float: right;
    padding-top: 25px;
    padding-right: 38px;
    list-style-image: url('../images/InstaSmol.png');
}

#bakeSale{
    margin-top: 40px;
    float: left;
    width:40%;
    height: 280px;
    object-fit: cover;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
}

#names{
    color:#3A515F;
    float: left;
    list-style: none;
}

#emails{
    color:#3A515F;
    float: right;
    list-style-image: url('../images/MailIcon.png');
   
}

#game{
    /*margin: 40px 160px;
    height: 200px;*/
    max-width: 75%;
    margin: auto;
    background-image:url('../images/Rectangle\ 11.png');
    color: #FFFFFF;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 80px;
    border-radius: 5px;
}

#game h1{
    text-align: center;
    margin-bottom: 30px;
}

.button{
    display: block;
    width: 160px;
    height: 50px;
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #8399A6;
    font-weight: bold;
    line-height: 50px;
    margin: auto;
    font-size: 24px;
}

#stPat{
    max-width:20%;
    float:left;
}

#view{
    display: block;
    max-width: 45%;
    background-color: #FFD376;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    line-height: 100px;
    float:left;
    margin-left: 8%;
    font-size: 32px;
}

#winterP{
    padding: 0;
    max-width: 20%;
    float:right;
}

a{
    text-decoration: none;
}

#game a:hover{
    text-decoration: underline;
}

#view a:hover{
    text-decoration: underline;
}

#view a{
    color:#FFFFFF;
}

#winterP{
    float:right;
}

#main-footer{
    background: #FEC156;
    color: #1F1E23;
    margin-top:40px;
    padding-top: 2%;
}

#main-footer p{
    text-align: center;
}

#main-footer img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
}

@media only screen and (max-width: 600px) {
   .body{
    font-size: 12pt;
    }
   
    .container{
        width: 100%;
    }
    #navbar li{
        font-size: 8pt;
        margin-right: 2%;
    }

    #partyP{
        padding-left:15px;
        padding-top: 15px;
    }

    #bakeSale{
        width: 100%;
        object-fit: none;
        border-radius: 5px;
    }

    #contacts{
        clear:right;
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 5px;
    }

    #contacts li{
        margin: 0;
    }
}
/*
@media only screen and (min-width: 601px) {
    .container{
        width: 100%;
    }
    #navbar li{
        font-size: 16pt;
        margin-right: 2%;
    }
}*/

@media only screen and (max-width: 768px) {
    .container{
        width: 100%;
    }

    #navbar li{
        font-size: 8pt;
        margin-right: 2%;
    }
}

@media only screen and (max-width: 992px) {
    .container{
        width: 100%;
    }

    #navbar{
        position: fixed;
        bottom:0px;
        background-color:#3A515F;
        color:#8399A6;
        padding-left: 10px;
        line-height: 20px;
        height:8%;
        width: 100%;
    }

    #navbar li{
        font-size: 8pt;
        margin-right: 2%;
    }

    #joinPic{
        width: 100%;
        object-fit: none;
        border-radius: 5px;
    }

    #join{
        clear: both;
        max-width:90%;
        border-radius: 5px;
        margin-left: 5%;
        margin-right: 5%;
    }

    #view {
        line-height: 40px;
    }

    #bakeSale{
        width: 100%;
        object-fit: none;
        border-radius: 5px;
    }

    #contacts{
        clear:right;
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 5px;
    }
}

